.title {
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.component {
  width: 40%;
  margin: 20px 10px;
}

.component > h2 {
  margin-bottom: 10px;
}

.info-btn {
  padding: 10px 20px;
  background-color: #ebf5fc;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.info-btn:active {
  box-shadow: inset -20px -20px 20px rgba(255, 255, 255, 0.5), inset 20px 20px 20px rgba(0, 0, 0, 0.05);
}
